%h2 Non approved comments
-@messages.each do |message| 
  = form_for :comment do |f|
    %ul 
      %li #{message.user.name} commented on
      %li #{message.project.name}
      %li #{message.comment}
      %li #{time_ago_in_words(message.created_at)} ago
      %li 
        %input{:type => "hidden", :value => "#{comment.id}", :name => "id"}
      = f.submit 'Approve'
    %hr
   
