.well

  %ul.nav.nav-tabs
    %li
      %a{:href => "#"} Messages
    %li.active
      %a{:href => "#"} Comments
    %li
      %a{:href => "#"} Notifications

  %ul.comments
    -if @comments != nil
      - @comments.each do |comment|
        %li.well
          .col-lg-2
            = image_tag(comment.user.avatar, class: 'img-responsive')
          .bubble.col-lg-6
            %p
              = comment.user.name
            %p  
              = comment.comment
            %p
              = comment.created_at.to_date
            %p
            - if comment.approved == false
              = link_to 'Approve', approve_comment_message_path(comment.id)
    -else
      %li
        %p
          you have not comments u.u
