%h3 Discover Projects
%p.subtitle Passion, ideas, and ambition abound. Start exploring!
.row
  .col-lg-9
    %ul
      %h3 #{@subcategory.name}
      - @projects_subcategory.each do |project|
        %li
          %a{:href => "#{project_path(project)}"}
            .project-bg
              .project-wrap
                =image_tag "#{project.picture}", class: 'img-project'
                %h5 
                  %strong #{project.name}
                  %span By #{project.user_id}
                %p #{project.description}
                .progress
                  #{project.period}
  .col-lg-3
    %ul
      %li
        %h3 Categories
      - @categories.each do |category|
        %li
          %h3
            = link_to "#{category.name}", category_path(category)
          %ul
          - category.subcategories.each do |subcategory|
            %li 
              = link_to subcategory.name, subcategory_path(subcategory)
