.col-lg-3.sidebar-right
  %ul
    %li
      %h3 Features
      %li
        %ul
          %li
            = link_to "Staff Picks"
          %li  
            = link_to "Popular", discovers_popular_path
          %li  
            = link_to "Recently Launched", discovers_recently_path
          %li  
            = link_to "Ending Soon", discovers_endingsoon_path
          %li  
            = link_to "Small Projects", discovers_smallprojects_path
          %li  
            = link_to "Most Funded", discovers_mostfunded_path
          %li  
            = link_to "Curated Pages"
    %li
      %h3 Categories
      = link_to '', new_category_path, class: "add-category"
    - @categories.each do |category|
      %li
        %h3
          = link_to "#{category.name}", category_path(category)
          = link_to 'Edit', edit_category_path(category.id), class: "btn btn-primary"
          = link_to 'Delete', category_path(category.id), class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' }

        %ul
        - category.subcategories.all.each do |subcategory|
          %li 
            = link_to subcategory.name, subcategory_path(subcategory)
