<h1>New Page</h1>
<%= form_for @page, :url => { :action => 'create' } do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %></br>
  <%= f.label :content %>
  <%= f.text_area :content, size: "60x12" %></br>
  <%= f.label :style %>
  <%= f.text_area :style, size: "60x12" %></br>
  <%= f.submit "Create" %>
<% end %>

