<h1>New Page</h1>
<%= form_for @page, :url => { :action => 'create' } do |f| %>
<% if @page.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@page.errors.count, "error") %> prohibited
      this page from being saved:</h2>
    <ul>
    <% @page.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <%= f.label :title %>
  <%= f.text_field :title %></br>
  <%= f.label :content %>
  <%= f.text_area :content, size: "80x20", placeholder: 'Insert Her your Text', style: 'width: 800px' %></br>
  <%= f.submit "Create" %>     
<% end %>

<script type="text/javascript">
$('#page_content').wysihtml5({
  	"font-styles": true, //Font styling, e.g. h1, h2, etc. Default true
  	"emphasis": true, //Italics, bold, etc. Default true
  	"lists": true, //(Un)ordered lists, e.g. Bullets, Numbers. Default true
  	"html": true, //Button which allows you to edit the generated HTML. Default false
  	"link": true, //Button to insert a link. Default true
  	"image": true, //Button to insert an image. Default true,
  	"color": true //Button to change color of font
  });
</script>

