<tr class="project">
  <td> <%= project.id %></td> 
  <td> <%= project.name %></td>
  <td> <%= project.autor %></td>
  <td> <%= project.description %></td>
  <td> <%= project.goal %></td>
  <td> <%=link_to 'Show', project %> 
</tr>
  

