%tr.project
  %td.show-preview-project 
    .espacio
      %img{:src => "/assets/photo-little2.jpg"}
      .little-project-name
        = link_to project.name, project
      %p 
        by
        = project.autor
      = project.description
      %br
      %br
      %p Mexico City, Mexico
      %hr
      %strong
        %pre 6%       $379      29
      %pre FUNDED   PLEDGE    DAYS TO GO
  %td.show-preview-project 
    .espacio
      %img{:src => "/assets/photo-little2.jpg"}
      .little-project-name
        = link_to project.name, project
      %p 
        by
        = project.autor
      = project.description
      %br
      %br
      %p Mexico City, Mexico
      %hr
      %strong
        %pre 6%       $379      29
      %pre FUNDED   PLEDGE    DAYS TO GO
  %td.show-preview-project 
    .espacio
      %img{:src => "/assets/photo-little2.jpg"}
      .little-project-name
        = link_to project.name, project
      %p 
        by
        = project.autor
      = project.description
      %br
      %br
      %p Mexico City, Mexico
      %hr
      %strong
        %pre 6%       $379      29
      %pre FUNDED   PLEDGE    DAYS TO GO

