
<h1 id="name" data-mercury="full"> <%= raw @project.name %> </h1>
<h3 id="page_content" class="mercury-region" data-type="editable"> <%= raw @project.autor %> </h1>
<h3> <%= raw @project.description %> </h1>
<h3> <%= raw @project.goal %> </h1>



<p><%= link_to "Edit Page", "/editor" + request.path, id: "edit_link", data: { save_url: mercury_update_project_path(@project) } %></p>


