<h1>Listing projects</h1>

<%= paginate @projects %>
<section class="cuerpo">
<table>
  <tr>
    <td>Id</td>
    <td>Name</td>
    <td>Autor</td>
    <td>Description</td>
    <td>Goal</td>
  </tr>
  <tr>
<%= link_to "New" , {:action => 'new'}%>

    <% @projects.each do |project| %>
    <td data-mercury="full" > <%= project.id %></td> 
    <td data-mercury="simple"> <%= project.name %></td>
    <td> <%= project.autor %></td>
    <td> <%= project.description %></td>
    <td> <%= project.goal %></td>
    <td> <%=link_to 'Show', project %> 
    </span>
  </tr>

<% end%>
</table>
<%= link_to "New" , {:action => 'new'}%>
</section>

