<%= form_for @projects do |r| %> <p>
<% if @projects.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@projects.errors.count, "error") %> prohibited
      this post from being saved:</h2>
    <ul>
    <% @projects.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
<%= r.label :name %><br/></span>
<span class="fiel"><%= r.text_field :name %></span><br/><br/>
<%= r.label :age %><br/>
<span class="fiel"><%= r.text_field :autor %></span>
<%= r.label :name %><br/></span>
<span class="fiel"><%= r.text_field :description %></span><br/><br/>
<%= r.label :age %><br/>
<span class="fiel"><%= r.text_field :goal %></span>
</p>
<p>
<%= r.submit %>
</p>
<% end %>


