- project_visit (@project.id)
%section.container
  %h3#title
    = raw @project.name
  %h5#small-title
    by
    = @project.user.name
  .project
    .submenu.col-lg-12
      %ul
        %li home
        %li  
          %a{:href => "#"}  Updates 
        %li 
          %a{:href => "#"} Backers 
        %li  
          %a{href: project_comments_path(@project)} Comments
  %br
%section.container-2.show-project
  .wrap-section
    .content-project.col-lg-8
      %iframe{:allowfullscreen => "", :frameborder => "0", :height => "480", :src => @project.video, :width => "640"}
      %h5
        = raw @project.content
      %div.project-faqs
        %h3.faq-title FAQ
        %br
          -if @faqs != nil
            - @faqs.each do |f|
              .panel
                .panel-heading
                  = f.question
                %br/
                .panel-body
                  = f.answer
        %p.message
          - if current_user != nil 
            - if @project.user_id == current_user.id 
              =render :partial => 'faqs/new'


        %button.btn.btn-primary.btn-space{ type: "button", "data-toggle" => "modal", href: "#myModal"} Ask a question
    .col-space
    .dates-project.col-lg-3
      %h3 291
      %p backers
      %h3 $716,129
      pledged of $ 
      = raw @project.goal
      goal
      %h3 
        = @count
      days to go
      %br
      %br
      %span
      = project_status(@count)
      %p This project will only be funded if at least $3,000 is pledged by Friday Aug 23, 11:00pm EDT. 
      %p.funding-period 
        = raw @project.created_at
      %h2 Pledges
      %ul 
        - @pledges.each do |pledge|
          %li.pledge
            %p.bold 
              Pledge $
              = pledge.amount
              or more
            %p.bold 0 backers  
            %p
              = pledge.description
            %p
              Estimated delivery
              = pledge.date
              
