%section.container
  %h3#title
    = raw @project.name
  %h5#small-title
    by
    Fulanito 
  .project
    .submenu.col-lg-12
      %ul
        %li home
        %li  
          %a{:href => "#"}  Updates 
        %li 
          %a{:href => "#"} Backers 
        %li  
          %a{href: project_comments_path(@project)} Comments
  %br
%section.container-2.show-project
  .wrap-section
    .content-project.col-lg-8
      %iframe{:allowfullscreen => "", :frameborder => "0", :height => "480", :src => @project.video, :width => "640"}
      %h5
        = raw @project.content
      %div#project-faqs
        %h3.faq-title FAQ
        %div.faqs /Here goes the faqs
        %button.btn.btn-primary.btn-space{ type: "button", "data-toggle" => "modal", href: "#myModal"} Ask a question

    .col-space
    .dates-project.col-lg-3
      %h3 291
      %p backers
      %h3 $716,129
      pledged of $ 
      = raw @project.goal
      goal
      %h3 
        = raw @project.period
      days to go
      %br
      %br
      .btn.btn2.btn-success
        %p
          Back this project
          %br
          $1 minimum pledge
      %p This project will only be funded if at least $3,000 is pledged by Friday Aug 23, 11:00pm EDT. 
      %p.funding-period 
        = raw @project.created_at
      %h2 Pledges
      - @pledges.each do |pledge|
        %table
          %tr
            %td.pledge
              %p 
                Pledge $
                = pledge.amount
                or more
              %p
                = pledge.description
%br
%br
