.discover-projects.row
  .main-content.large-9.columns
    %p
      %span.bold
        Discover
      projects
    %p.grey Passion, ideas, and ambition aboud. Start exploring!
    .staff-picks
      %p Staff picks
       = for @projects in 1..3 
      .single-project
        %p.name = projects.name
        %p.autor.grey = projects.autor
        %p.description.grey = projects.description
        %p.goal.grey = projects.goal
       = end
    .popular
      %p Popular this week 
       = for @projects in 1..3 
      .single-project
        %p.name = projects.name
        %p.autor.grey = projects.autor
        %p.description.grey = projects.description
        %p.goal.grey = projects.goal
       = end
    .rencently-founded
      %p Popular this week 
       = for @projects in 1..3 
      .single-project
        %p.name = projects.name
        %p.autor = projects.autor
        %p.description = projects.description
        %p.goal = projects.goal
       = end
    .updates
      %p Popular this week 
       = for @projects in 1..3 
      .single-project
        %p.name = projects.name
        %p.autor = projects.autor
        %p.description = projects.description
        %p.goal = projects.goal
       = end


    

