%header.nav.navbar.header#header
  .container.content
    .logo.img-responsive{:id => "logo", "data-mercury" => "simple"}
    %ul.nav.navbar-nav.menu
      %li
        = link_to 'What is kickstarter?', root_url
      %li
        %a{href: discovers_path}
          %strong Discover
          %span great projects
      %li
        %a{href: new_project_path}
          %strong Start
          %span a project
    .navbar-form.pull-left.navbar-search
      %input{:type => "text", :class => "form-control search col-lg-8", :placeholder => "Search"}
    %ul.nav.navbar-nav.pull-right.menu-right
      %li
        = link_to 'Help', '#'
      - if !user_signed_in?
        %li 
          = link_to 'Sign up', new_user_registration_path
        %li
          = link_to 'Log in', new_user_session_path
      - else
        %li.btn-group.dropdown
          %button.btn.btn-default.btn-xs.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
            = image_tag(current_user.avatar, height: '20', width: '20')
            -#%{current_user.email}
            %span.caret
          %ul.dropdown-menu{:role => "menu"}
            %li
              %a{:href => "#"} My profile
            %li
              %a{:href => "#"} My backer hostory
            %li
              %a{:href => "#"} My starred project
            %li
              %a{:href => "#"} Edit settings
            %li
              %a{:href => "#"} Find friends
            %li.divider
            %li
              = link_to "Sign out", destroy_user_session_path, :method => :delete
        %li
          = link_to 'Pages', pages_path
